# Pandas

In [65]:
import pandas as pd
import numpy as np

In [66]:
# Series   pd.Series(data,index)
np.random.seed(101)
s = pd.Series(np.random.randn(5),index=list(range(5)), name="sample")
s

0    2.706850
1    0.628133
2    0.907969
3    0.503826
4    0.651118
Name: sample, dtype: float64

In [67]:
s.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [68]:
pd.Series(np.random.rand(5))

0    0.721544
1    0.189939
2    0.554228
3    0.352132
4    0.181892
dtype: float64

In [69]:
d = {'a':1 , 'b':2 , 'd':3}
t = pd.Series(d, index = ['a','b','c','d'])
t

a     1
b     2
c   NaN
d     3
dtype: float64

In [70]:
 s[s>s.median()]

0    2.706850
2    0.907969
Name: sample, dtype: float64

In [71]:
s[[2,3,4]]

2    0.907969
3    0.503826
4    0.651118
Name: sample, dtype: float64

In [72]:
np.exp(s)

0    14.982005
1     1.874108
2     2.479283
3     1.655041
4     1.917684
Name: sample, dtype: float64

In [73]:
t.get('a',np.nan), s.name

(1.0, 'sample')

# Data Frames

In [74]:
d = { 'one' : pd.Series([1.,2.,3.], index=['a','b','c']), 
     'two': pd.Series([1.,2.,3.,4.],index=['a','b','c','d'])}

In [75]:
d

{'one': a    1
 b    2
 c    3
 dtype: float64, 'two': a    1
 b    2
 c    3
 d    4
 dtype: float64}

In [76]:
np.random.seed(101)
df = pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'], columns=['W','X','Y','Z'])

In [77]:
booldf = df > 0
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [78]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [79]:
df[(df['W'] > 0) & df['Y'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [80]:
df.loc['A':'B']

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [81]:
df['NEW'] = df['W'] + df['X']

In [82]:
df.drop('NEW', axis = 1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [83]:
df[['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [84]:
type(df), type(df['W'])

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [85]:
df.iloc[1,2]

-0.84807698340363147

In [86]:
df.loc['A':'D','W':'Z']

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [87]:
df.iloc[0:3,0:3]

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813

In [88]:
df[::-1]

          W         X         Y         Z       NEW
E  0.190794  1.978757  2.605967  0.683509  2.169552
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
A  2.706850  0.628133  0.907969  0.503826  3.334983

In [89]:
df

          W         X         Y         Z       NEW
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [90]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hieh_index = list(zip(outside,inside))
hieh_index = pd.MultiIndex.from_tuples(hieh_index)
dframe = pd.DataFrame(np.random.randn(6,2),hieh_index,['A','B'])
dframe

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [91]:
dframe.index.names = ('Groups','Nums')

In [92]:
dframe

                    A         B
Groups Nums
G1     1     0.302665  1.693723
       2    -1.706086 -1.159119
       3    -0.134841  0.390528
G2     1     0.166905  0.184502
       2     0.807706  0.072960
       3     0.638787  0.329646

In [93]:
dframe.loc['G2']['B'][2]

0.072959675317038689

In [94]:
dframe.xs('G1').transpose().describe()

Nums          1         2         3
count  2.000000  2.000000  2.000000
mean   0.998194 -1.432603  0.127844
std    0.983626  0.386764  0.371492
min    0.302665 -1.706086 -0.134841
25%    0.650430 -1.569344 -0.003499
50%    0.998194 -1.432603  0.127844
75%    1.345959 -1.295861  0.259186
max    1.693723 -1.159119  0.390528

# Combining , Joining and Merging

In [95]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [96]:
# concatenate the dataframes
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [97]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [98]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [99]:
#Merging
pd.merge(left,right,on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [100]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [101]:
pd.merge(left,right,on=['key1','key2'])   #by default it inner

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [102]:
pd.merge(left,right, on=['key1','key2'], how='outer')

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [103]:
pd.merge(left,right, on=['key1','key2'], how='left')

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

In [104]:
pd.merge(left,right, on=['key1','key2'], how='right')

     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

# Joining

In [105]:
left = pd.DataFrame({'A':['A0','A1','A2'],
            'B' : ['B0','B1','B2']},
             index=['K0','K1','K2'])

right = pd.DataFrame({'C':['C0','C1','C2'],
            'D' : ['D0','D1','D2']},
             index=['K0','K2','K3'])

In [106]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C1   D1

In [107]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

# Missing

In [108]:
df = pd.DataFrame({'A':['0','1','2'],
                  'B':['0',np.nan,'1'],
                  'C':['2',np.nan,np.nan]})
df

   A    B    C
0  0    0    2
1  1  NaN  NaN
2  2    1  NaN

In [109]:
df.dropna()   # drop all the rows having nan values

   A  B  C
0  0  0  2

In [110]:
df.dropna(axis=1) # drop all the cols having nan values

   A
0  0
1  1
2  2

In [111]:
df.fillna(value=df['A'].mean())

   A  B  C
0  0  0  2
1  1  4  4
2  2  1  4

In [112]:
df.dropna(thresh=2)  # drop the row having min two nan values

   A  B    C
0  0  0    2
2  2  1  NaN